<div class="floating-logo">
  <a class="navbar-brand-logo" href="#"><img src="logo.png"></a>
</div>
<div class="sign-in-container">
  <div class="sign-in-box">
    <h2>{{ signInTitle }}</h2>
    <form (ngSubmit)="signIn()">
      <div class="form-group">
        <input type="email" id="email" name="email" placeholder=" " [(ngModel)]="email" required />
        <label for="email">Email</label>
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" placeholder=" " [(ngModel)]="password" required />
        <label for="password">Password</label>
      </div>
      <div class="remember-me">
        <input type="checkbox" id="rememberMe" placeholder="" name="rememberMe" [(ngModel)]="rememberMe" />
        <span>Remember Me</span>
      </div>
      <div class="sign-up-prompt">
        Don't have an account on StreamSphere? <a routerLink="/signUp">Sign up here</a>
      </div>
      <button type="submit">{{ signInTitle }}</button>
      <div *ngIf="signInError" class="error-message">
        {{ errorFieldMessage }}
      </div>
    </form>
  </div>
</div>