<div class="footer">

    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                <h3>Follow us on:</h3>
            </a>
            <a routerLink="/"><img src="facebook.webp"></a>
            <a routerLink="/"><img src="instagram.webp"></a>
            <a routerLink="/"><img src="tiktok.png"></a>
            <a routerLink="/"><img src="lol.png"></a>
            <a routerLink="/"><img src="youtube.webp"></a>
            <br>
            <br>
            <p class="text-body-secondary">All rights reserved.</p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h5>FAQ</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Featuers</a></li>
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Jobs</a></li>
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">StreamSphere Originals</a></li>
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>For Developers</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Our API</a></li>
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Open Source</a></li>
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Examples</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Privacy</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Cookie Preferences</a></li>
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Manage Your Data</a></li>
                <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">My Account</a></li>
            </ul>
        </div>
    </footer>

</div>