<div class="carousel">
    <div class="banner-carousel-inner carousel-inner">
      <div
        *ngFor="let slide of slides; let i = index"
        class="banner-carousel-item carousel-item"
      >
        <img [src]="slide.poster" alt="Slide {{ i + 1 }}">
        <div class="carousel-caption">
          <div class="carousel-text">
            <h1 style="font-size: 5em;">{{ slide.title }}</h1>
            <p style="font-size: 1.6em;">{{ slide.description }}</p>
          </div>
          <div class="carousel-button">
            <button class="btn btn-primary btn-lg" [routerLink]="['/browse/watch']" [queryParams]="{ id: slide.id }">Watch Now</button>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" (click)="prev()">&lt;</button>
    <button class="carousel-control-next" (click)="next()">&gt;</button>
    <div class="carousel-indicators">
      <span
        *ngFor="let slide of slides; let i = index"
        class="dot"
        [class.active]="i === currentSlide"
        (click)="goToSlide(i)"
      ></span>
    </div>
  </div>
  