<div style="display: flex; flex-direction: column; justify-content: center;">
    <app-navbar />
    <app-carousel />

    <app-ad [adId]="'1'" adEndDate="'07-01-2024'"/>

    <app-wide-carousel carouselId="2" class="wide-carousel" genre="Anime" slidesPerView="5" dynamicBullets="true"
        spaceBetween="20" grabCursor="true" slidesPerViewMobile="2" />
    <app-wide-carousel carouselId="3" class="wide-carousel" genre="Drama" slidesPerView="5" dynamicBullets="true"
        spaceBetween="20" grabCursor="true" slidesPerViewMobile="1" />

    <app-ad [adId]="'2'" adEndDate="'12-01-2024'"/>

    <app-wide-carousel carouselId="4" class="wide-carousel" genre="Sci-Fi" slidesPerView="3" dynamicBullets="true"
        spaceBetween="20" grabCursor="true" slidesPerViewMobile="2" />
    <app-wide-carousel carouselId="5" class="wide-carousel" genre="Adventure" slidesPerView="5" dynamicBullets="true"
        spaceBetween="20" grabCursor="true" slidesPerViewMobile="1" />

    <app-ad [adId]="'3'" adEndDate="'06-28-2024'"/>
    
    <app-footer />

</div>