<div [ngSwitch]="subscriptionType">
    <div *ngSwitchCase="'free'" class="ad-container">
        <div [ngSwitch]="randAdNum" class="ad-switch">
            <div *ngSwitchCase="0" class="ad-content" [routerLink]="['/']" fragment="premium">
                <div class="ad-desktop-content">
                    <p>{{[paragraf]}}</p>
                    <div class="image-container">
                        <img src="try-premium.png" alt="{{ altText }}">
                        <div class="countdown-overlay">
                            <p>{{ countdownText }}</p>
                        </div>
                    </div>
                </div>
                <div class="ad-mobile-content">
                    <p>{{[paragraf]}}</p>
                    <div class="image-container">
                        <img src="try-premium-mobile.png" alt="{{altText}}" loading="lazy">
                        <div class="countdown-overlay">
                            <p>{{ countdownText }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="1" class="ad-content" [routerLink]="['/']" fragment="premium">
                <div class="ad-desktop-content">
                    <p>{{[paragraf]}}</p>
                    <div class="image-container">
                        <img src="premium-plan.png" alt="{{altText}}">
                        <div class="countdown-overlay">
                            <p>{{ countdownText }}</p>
                        </div>
                    </div>
                </div>
                <div class="ad-mobile-content">
                    <p>{{[paragraf]}}</p>
                    <div class="image-container">
                        <img src="premium-plan-mobile.png" alt="{{altText}}" loading="lazy">
                        <div class="countdown-overlay">
                            <p>{{ countdownText }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="2" class="ad-content" [routerLink]="['/']" fragment="regular">
                <div class="ad-desktop-content">
                    <p>{{[paragraf]}}</p>
                    <div class="image-container">
                        <img src="regular-plan.png" alt="{{altText}}">
                        <div class="countdown-overlay">
                            <p>{{ countdownText }}</p>
                        </div>
                    </div>
                </div>
                <div class="ad-mobile-content">
                    <p>{{[paragraf]}}</p>
                    <div class="countdown-overlay">
                        <img src="regular-plan-mobile.png" alt="{{altText}}" loading="lazy">
                        <div class="countdown-overlay">
                            <p>{{ countdownText }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'regular'" class="ad-container">
        <div [ngSwitch]="randAdNum" class="ad-switch">
            <div *ngSwitchCase="0" class="ad-content" [routerLink]="['/']" fragment="premium">
                <div class="ad-desktop-content">
                    <p>{{[paragraf]}}</p>
                    <div class="image-container">
                        <img src="try-premium.png" alt="{{ altText }}">
                        <div class="countdown-overlay">
                            <p>{{ countdownText }}</p>
                        </div>
                    </div>
                </div>
                <div class="ad-mobile-content">
                    <p>{{[paragraf]}}</p>
                    <div class="image-container">
                        <img src="try-premium-mobile.png" alt="{{altText}}" loading="lazy">
                        <div class="countdown-overlay">
                            <p>{{ countdownText }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="1" class="ad-content" [routerLink]="['/']" fragment="premium">
                <div class="ad-desktop-content">
                    <p>{{[paragraf]}}</p>
                    <div class="image-container">
                        <img src="premium-plan.png" alt="{{altText}}">
                        <div class="countdown-overlay">
                            <p>{{countdownText}}</p>
                        </div>
                    </div>
                </div>
                <div class="ad-mobile-content">
                    <p>{{[paragraf]}}</p>
                    <div class="image-container">
                        <img src="premium-plan-mobile.png" alt="{{altText}}" loading="lazy">
                        <div class="countdown-overlay">
                            <p>{{countdownText}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'premium'" class="ad-container">
        <p>Thank you for staying with <b>premium</b></p>
        <img src="path-to-your-ad-image-premium.jpg" alt="Ad Image for Premium Users">
    </div>
</div>