<div class="px-4 py-5 my-5 text-center" data-bs-theme="dark">
    <h1 class="display-5 fw-bold text-body-emphasis">Join StreamSphere</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Thousands of on-demand movies and shows, all accessible from the comfort of your browser. </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" (click)="redirectTo('/signin')" class="btn btn-light btn-lg px-4 gap-3">Log in!</button>

        </div>
    </div>
</div>
