<div class="px-4 py-5 my-5 text-center" data-bs-theme="dark">
  <img src="./logo.png" style="padding-bottom: 50px; width: 80vw; max-width: 502px;">
  <h1 class="display-5 fw-bold text-body-emphasis">Join StreamSphere</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Thousands of on-demand movies and shows, all accessible from the comfort
      of your browser.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" (click)="redirectTo('/signIn')" class="btn btn-light btn-lg px-4 gap-3">
        Log in!
      </button>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5" >
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./watch_anim.webp" class="d-block mx-lg-auto img-fluid" width="700" height="500" style="border-radius: 30px;"/>
    </div>
    <div class="col-lg-6 card-down" >
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Watch everywhere
      </h1>
      <p class="lead card-down-text">
        No need for a TV with an expensive cable plan. Your favorite shows are
        available for you everywhere you go.
      </p>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row align-items-center justify-content-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./download_anim.webp" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy" style="border-radius: 30px;"/>
    </div>
    <div class="col-lg-6 card-down" >
      <h1 class="display-5 fw-bold text-body-emphasis justify-content-center lh-1 mb-3">Download</h1>
      <p class="lead card-down-text">
        Worried about your internet connection? Download your favorite shows and
        movies to watch offline.
      </p>
    </div>
  </div>
</div>

<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Plans</h1>
      <p class="fs-5 text-body-secondary">
        Pick a perfect plan to suit your viewing needs. Or try it
        <b>for free</b>.
      </p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $0<small class="text-body-secondary fw-light">/mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Ad-supported viewing</li>
              <li>Watch in up to 720p</li>
              <li>Watch from the comfort of your browser</li>
              <li>One user per account</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-light" routerLink="/signUp">
              Sign up for free
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="regular" class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Regular</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              <span id="regular-price">PLN 49.99</span><span id="new-regular-price">PLN 24.99</span><small
                class="text-body-secondary fw-light">/mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Less Ad-supported experience</li>
              <li>Watch your shows in Full HD</li>
              <li>Watch on-line or download shows to view offline!</li>
              <li>Up to 4 user accounts</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-light">
              Get started
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="premium" class="card mb-4 rounded-3 shadow-sm border-light">
          <div class="card-header py-3 text-bg-light border-light">
            <h4 class="my-0 fw-normal">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              <span id="premium-price">PLN 99.99</span><span id="new-premium-price">PLN 49.99</span><small
                class="text-body-secondary fw-light">/mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Ad-free experience</li>
              <li>Watch your shows in up to 4K!</li>
              <li>Watch on-line or download shows to view offline!</li>
              <li>Up to 6 user accounts</li>
            </ul>
            <button type="button" (click)="purchasePlan(9999, 'premium')" class="w-100 btn btn-lg btn-light">
              Get started
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<app-footer />