@import 'variables';

.navbar-brand-logo {
  img {
    height: 50px;
  }
}
.floating-logo {
  position: absolute;
  top: $spacing_3;
  left: $spacing_2;
  img {
    height: 100px;
  }
}
@media screen and (max-width: 1000px){
  
  .floating-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      height: 70px;

    }
  }
}