$color_1: #999;
$color_2: #007bff;
$color_3: white;
$color_4: #000;
$background-color_1: #007bff;
$background-color_2: #0056b3;
$border-color_1: #007bff;
$spacing_1: 8px;
$spacing_2: 16px;
$spacing_3: 24px;
$spacing_4: 32px;
$spacing_5: 48px;
$spacing_6: 72px;
$spacing_7: 96px;
$spacing_8: 144px;
$normal: 400;
$bold: 700;
$box-shadow: inset 1px -130px 100px 20px rgb(0 0 0);